@model MemberManagementViewModel
@{
    ViewData["Title"] = "Member Management Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Member Management page</p>
    <p>Name: @Model.Name</p>
    <p>Role: @Model.Role</p>
</div>